@import "tailwindcss";

@theme {
  --color-brand-yellow: #D4F455;
  --color-brand-cyan: #00F5FF;
  --color-brand-purple: #B692F6;
  --color-card-bg: #1E1E20;
  --color-sidebar-bg: #121214;
  --color-dashboard-bg: #121214;
}

body {
  @apply bg-dashboard-bg text-white antialiased overflow-x-hidden;
}

.bg-grid-checker {
  background-image:
    linear-gradient(to right, rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
  background-size: 40px 40px;
}

/* Global Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Utilities to hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

/* Horizontal scrollbar refinement */
.custom-scrollbar-h::-webkit-scrollbar {
  height: 4px;
}

.custom-scrollbar-h::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar-h::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}